@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

@media (max-width: 1280px) {
  @keyframes slide-in-ltr {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-0.5rem);
    }
  }

  .animate-slide-in-ltr {
    animation-name: slide-in-ltr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-rtl {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(0.5rem);
    }
  }

  .animate-slide-in-rtl {
    animation-name: slide-in-rtl;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1280px) {
  @keyframes slide-in-ltr {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-3rem);
    }
  }

  .animate-slide-in-ltr {
    animation-name: slide-in-ltr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-rtl {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(3rem);
    }
  }

  .animate-slide-in-rtl {
    animation-name: slide-in-rtl;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes scale-up-center {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.animate-scale-up-center {
  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.rotate-in-2-cw-0 {
  -webkit-animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0;
}

.rotate-in-2-cw-1 {
  -webkit-animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 200ms;
}

.rotate-in-2-cw-2 {
  -webkit-animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-2-cw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 400ms;
}

@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
