@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

@keyframes slide-in-ltr {
  from {
    transform: translateX(-3rem);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-ltr {
  animation-name: slide-in-ltr;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in-rtl {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-rtl {
  animation-name: slide-in-rtl;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes scale-up-center {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.animate-scale-up-center {
  animation-name: scale-up-center;
  animation-duration: 0.4s;
  animation-delay: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
