@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

@keyframes slide-in {
  from {
    transform: translateX(-6rem);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation-name: slide-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}
